@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: Montserrat;
  src: url('../fonts/Montserrat-Regular.ttf');
}

@font-face {
  font-family: GoodDog;
  src: url('../fonts/GoodDog.ttf');
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  font-family: Montserrat, Helvetica, Arial, sans-serif;
}

body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

main {
  flex: 1;
  padding: 32px 64px;
}

@media (max-width: 1023px) {
  main {
    padding: 32px 48px;
  }
}

@media (max-width: 639px) {
  main {
    padding: 32px;
  }
}

@layer components {
  .round-img {
    @apply transition-all duration-500 rounded-full object-cover hover:scale-125;
  }

  .round-link {
    @apply size-56 rounded-full shadow-blurry overflow-clip lg:self-center sm:size-48;
  }

  .round-img-text {
    @apply self-center text-lg mt-6 sm:text-base;
  }

  .button {
    @apply self-center py-3 px-6 border-4 border-solid rounded-lg font-bold text-lg transition-all duration-300 hover:text-white sm:text-base;
  }

  .form-item {
    @apply flex flex-col text-lg gap-2;
  }

  .form-input {
    @apply transition-all duration-300 p-2 border-2 border-gray-500 rounded-md outline-none focus:border-purple-700;
  }

  .title {
    @apply text-4xl font-bold sm:text-3xl sm:text-center;
  }
}
