<footer class="flex justify-end items-center gap-4 px-16 py-8">
  <a class=" transition-all duration-500 origin-center hover:rotate-360 hover:scale-110"
    href="https://github.com/RogerEaux">
    <img class="size-8" src="/images/svg/github.svg" alt="GitHub">
  </a>
  <span class="text-xl">Copyright © 2024</span>
  <span class="font-goodDog text-4xl">RogerEaux</span>
</footer>