<footer class="flex justify-end items-center gap-4 px-16 py-8 lg:px-12 sm:justify-center sm:gap-2 sm:px-8">
  <a class=" transition-all duration-500 origin-center hover:rotate-360 hover:scale-110"
    href="https://github.com/RogerEaux">
    <img class="size-10 lg:size-8" src="/svgs/github.svg" alt="GitHub">
  </a>
  <span class="text-xl sm:text-sm">Copyright © 2024</span>
  <span class="font-goodDog text-4xl sm:text-2xl">RogerEaux</span>
</footer>