<nav class="flex justify-between px-16 py-8">
  <h1 class="font-goodDog text-8xl">Catadog</h1>
  <ul class="flex items-center gap-6 text-xl">
    <li><a href="/inventory">Home</a></li>
    <li><a href="/inventory/sizes">Sizes</a></li>
    <li><a href="/inventory/breeds">Breeds</a></li>
    <li><a href="/inventory/dogs">Dogs</a></li>
  </ul>
</nav>