<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel='stylesheet' href='/stylesheets/style.css' />
  <title>Delete Dog</title>
</head>

<body class="flex flex-col min-h-screen">
  <%- include('../general/navBar') %>
    <main class="flex-1">
      <h1>
        Delete <%= dog.name %>?
      </h1>

      <form method="post">
        <input name="dogID" id="dogID" type="hidden" value=<%=dog._id%>>
        <button type="submit">Delete</button>
      </form>
    </main>
    <%- include('../general/addendum') %>
</body>

</html>